## **Aula de Python sobre a Biblioteca PANDAS**

Biblioteca usada para manipulação e análise de dados.

* Series
* Data Frame

**SERIES**

In [1]:
#Importando a Biblioteca PANDAS
import pandas as pd

#Criando a Series "notas"
notas = pd.Series([7,8,9,10])
notas

0     7
1     8
2     9
3    10
dtype: int64

In [2]:
#Visualizando os itens do array
notas.values

array([ 7,  8,  9, 10])

In [3]:
#Visualizando os índices do array
notas.index

RangeIndex(start=0, stop=4, step=1)

**DATA FRAME**

In [4]:
#Importando a biblioteca PANDAS
import pandas as pd

#Leitura do conjunto de dados
pd.read_csv('aluguel.csv')

      Tipo;Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0              Quitinete;Copacabana;1;0;0;40;1700;500;60
1                  Casa;Jardim Botânico;2;0;1;100;7000;;
2      Conjunto Comercial/Sala;Barra da Tijuca;0;4;0;...
3                 Apartamento;Centro;1;0;0;15;800;390;20
4             Apartamento;Higienópolis;1;0;0;48;800;230;
...                                                  ...
32955               Quitinete;Centro;0;0;0;27;800;350;25
32956       Apartamento;Jacarepaguá;3;1;2;78;1800;800;40
32957  Apartamento;São Francisco Xavier;2;1;0;48;1400...
32958              Apartamento;Leblon;2;0;0;70;3000;760;
32959  Conjunto Comercial/Sala;Centro;0;0;0;250;6500;...

[32960 rows x 1 columns]

In [5]:
#Importa  o arquivo com melhor visualização
dados = pd.read_csv('aluguel.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [6]:
type(dados)

pandas.core.frame.DataFrame

In [7]:
#Visualizando informações gerais sobre o meu conjunto de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [8]:
#Visualizando somente os tipos de dados que contém o meu conjunto de dados
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [9]:
#Utilizando o Data Frame
pd.DataFrame(dados.dtypes)

                  0
Tipo         object
Bairro       object
Quartos       int64
Vagas         int64
Suites        int64
Area          int64
Valor       float64
Condominio  float64
IPTU        float64

In [10]:
dados.shape

(32960, 9)

In [11]:
#Melhorando a visualização dos dados do SHAPE
print(f"O conjunto de dados possui {dados.shape[0]} linhas e {dados.shape[1]} colunas.")

O conjunto de dados possui 32960 linhas e 9 colunas.

In [12]:
#Visualizando as 10 primeiras linhas do conjunto de dados
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

**Selecionando a coluna TIPO para tratamento das informações**

In [13]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [14]:
#Verificando a estrutura do conjunto de dados
tipo_imoveis = dados['Tipo']
type(tipo_imoveis)

pandas.core.series.Series

In [15]:
#Tratando as repetições do Tipo de Imóveis com o comando UNIQUE
tipo_imoveis.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [16]:
#Verificando a quantidade de tipos de imóveis
tipo_imoveis.unique().shape[0]

22

In [17]:
#Excluindo as repetições do conjunto de dados
tipo_imoveis.drop_duplicates(inplace=True)
tipo_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [18]:
tipo_imoveis=pd.DataFrame(tipo_imoveis)
tipo_imoveis

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [19]:
tipo_imoveis.shape

(22, 1)

In [20]:
type(tipo_imoveis)

pandas.core.frame.DataFrame

In [21]:
tipo_imoveis

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [22]:
tipo_imoveis.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

**Arrumando os índices do conjunto de dados**

In [23]:
#Ajustando os índices com o FOR
for i in range(tipo_imoveis.shape[0]):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [24]:
#Ajustando os índices com o RANGE do PANDAS
tipo_imoveis.index=range(tipo_imoveis.shape[0])
tipo_imoveis

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [25]:
tipo_imoveis.index

RangeIndex(start=0, stop=22, step=1)

In [26]:
tipo_imoveis.reset_index()

    index                         Tipo
0       0                    Quitinete
1       1                         Casa
2       2      Conjunto Comercial/Sala
3       3                  Apartamento
4       4           Casa de Condomínio
5       5               Prédio Inteiro
6       6                         Flat
7       7                   Loja/Salão
8       8      Galpão/Depósito/Armazém
9       9               Casa Comercial
10     10                 Casa de Vila
11     11               Terreno Padrão
12     12                  Box/Garagem
13     13                         Loft
14     14  Loja Shopping/ Ct Comercial
15     15                      Chácara
16     16        Loteamento/Condomínio
17     17                        Sítio
18     18                Pousada/Chalé
19     19                       Studio
20     20                        Hotel
21     21                    Indústria

In [27]:
#Ajustando os índices com o RESET_INDEX
tipo_imoveis.reset_index(inplace=False, drop=True)

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

## **AULA 10**

**2a PARTE COM A BIBLIOTECA PANDAS**

1. Criar uma variável para armazenar os imóveis do tipo Residencial
2. Exportar essa base para um novo CSV chamado "aluguel_residencial.csv"

In [28]:
#Importar a biblioteca PANDAS
import pandas as pd

#Leitura do arquivo CSV
aluguel=pd.read_csv("aluguel.csv", sep=";")
aluguel.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
17,Flat,Botafogo,3,1,1,80,3800.0,1040.0,NaN
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0

In [29]:
#Busca os tipos de imóveis no conjunto de dados
aluguel['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [30]:
#Criação da lista de imóveis do Tipo Residencial que vamos armazenar
residencial=["Quitinete","Casa","Apartamento","Casa de Condomínio","Casa de Vila"]
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [31]:
#Busca os tipos residenciais no conjunto de dados
aluguel['Tipo'].isin(residencial)

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [32]:
aluguel['Tipo'].isin(residencial).head(20)

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10     True
11     True
12     True
13     True
14     True
15     True
16    False
17    False
18     True
19     True
Name: Tipo, dtype: bool

In [33]:
#Guardar os registros residenciais
so_residenciais=aluguel['Tipo'].isin(residencial)
so_residenciais

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

In [34]:
#Guarda todas as informações dos imóveis residenciais
aluguel_residencial=aluguel[so_residenciais]
aluguel_residencial.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
13,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
14,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,NaN
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
19,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
22,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,NaN
23,Apartamento,Olaria,3,1,0,68,1000.0,670.0,NaN

In [35]:
#Confirma os tipos de imóveis armazenado no novo conjunto de dados
aluguel_residencial["Tipo"].unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [36]:
#Verifica a quantidade de imóveis
aluguel_residencial.shape

(22580, 9)

In [37]:
#Outro comando para obter a quantidade de linhas do conjunto de dados
len(aluguel_residencial)

22580

In [38]:
#Exibe bonito pro CHEFE
print(f"O conjunto de dados possui {aluguel_residencial.shape[0]} linhas e {aluguel_residencial.shape[1]} colunas.")

O conjunto de dados possui 22580 linhas e 9 colunas.

In [39]:
aluguel_residencial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22580 entries, 0 to 32958
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [40]:
#Reinicia o índice do conjunto de dados
aluguel_residencial.reset_index(inplace=True, drop=True)
aluguel_residencial

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [41]:
aluguel_residencial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [42]:
#Exportar os imóveis residenciais para um novo CSV
aluguel_residencial.to_csv("aluguel_residencial.csv", sep=";")

In [43]:
#Importa o novo arquivo CSV
aluguel_residencial2=pd.read_csv("aluguel_residencial.csv", sep=";")
aluguel_residencial2

,Unnamed: 0,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
22575,22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [44]:
#Exporto novamente o arquivo sem o índice
aluguel_residencial.to_csv("aluguel_residencial.csv", sep=";", index=False)

In [45]:
#Leitura do novo arquivo CSV
aluguel_residencial2=pd.read_csv("aluguel_residencial.csv", sep=";")
aluguel_residencial2

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

**O próximos passos são:**
1. Selecionar os imóveis do tipo Apartamento
2. Selecionar os imóveis do tipo Casa (casa, casa de condomínio, casa de vila)
3. Buscar os imóveis que tenham área entre 50 e 110m²
4. Buscar os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.500,00

In [46]:
#Selecionando apenas os imóveis do tipo Apartamento
selecionar_apto=aluguel_residencial2["Tipo"] == "Apartamento"
num_apto=aluguel_residencial2[selecionar_apto].shape[0]
num_apto

19532

# **Aula 11**
- Cumprir os itens 2,3 e 4

In [48]:
#Selecionando apenas os imóveis do tipo CASA
selecionar_casas=(aluguel_residencial2["Tipo"]=="Casa") | (aluguel_residencial2["Tipo"]=="Casa de Condomínio") | (aluguel_residencial2["Tipo"]=="Casa de Vila")
num_casas=aluguel_residencial2[selecionar_casas].shape[0]
num_casas

2212

In [49]:
#Selecionando imóveis com mais de 50m² e menores que 110m²
selecionar_metros=(aluguel_residencial2["Area"]>=50) & (aluguel_residencial2["Area"]<=110)
num_metros=aluguel_residencial2[selecionar_metros].shape[0]
num_metros

11341

In [50]:
#Selecionando imóveis que tenham pelo menos 4 quartos e valor de aluguel menor que R$ 2.500,00
selecionar_valor=(aluguel_residencial2["Quartos"]>=4) & (aluguel_residencial2["Valor"]<2500.0)
num_valor=aluguel_residencial2[selecionar_valor].shape[0]
num_valor

93

**Exibindo os resultados da mineração**

In [51]:
print(f"O número de Aptos é {num_apto}")
print(f"O número de Casas é {num_casas}")
print(f"O número de imóveis entre 50m² e 110m² é {num_metros}")
print(f"O número de imóveis com 4 quartos e valor de aluguel abaixo de R$ 2.500,00 é {num_valor}")

O número de Aptos é 19532
O número de Casas é 2212
O número de imóveis entre 50m² e 110m² é 11341
O número de imóveis com 4 quartos e valor de aluguel abaixo de R$ 2.500,00 é 93

**Tratamento dos dados NaN (Nulos ou Faltantes)**

In [52]:
aluguel_residencial2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        22580 non-null  object
 1   Bairro      22580 non-null  object
 2   Quartos     22580 non-null  int64
 3   Vagas       22580 non-null  int64
 4   Suites      22580 non-null  int64
 5   Area        22580 non-null  int64
 6   Valor       22571 non-null  float64
 7   Condominio  20765 non-null  float64
 8   IPTU        15795 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [53]:
#Exibe todos os registros que estão Nulos
aluguel_residencial2.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False   True
4      False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
22575  False   False    False  False   False  False  False       False  False
22576  False   False    False  False   False  False  False       False  False
22577  False   False    False  False   False  False  False       False  False
22578  False   False    False  False   False  False  False       False  False
22579  False   False    False  False   False  False  False       False   True

[22580 rows x 9 columns]

In [54]:
#Exibe os ddos que não são nulos
aluguel_residencial2.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio   IPTU
0      True    True     True   True    True  True   True        True   True
1      True    True     True   True    True  True   True       False  False
2      True    True     True   True    True  True   True        True   True
3      True    True     True   True    True  True   True        True  False
4      True    True     True   True    True  True   True       False  False
...     ...     ...      ...    ...     ...   ...    ...         ...    ...
22575  True    True     True   True    True  True   True        True   True
22576  True    True     True   True    True  True   True        True   True
22577  True    True     True   True    True  True   True        True   True
22578  True    True     True   True    True  True   True        True   True
22579  True    True     True   True    True  True   True        True  False

[22580 rows x 9 columns]

In [55]:
#Ver no conjunto de dados as linhas que estão NaN
aluguel_residencial2[aluguel_residencial2["Valor"].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
58,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
1492,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
1683,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2012,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2034,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
4941,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
8568,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
8947,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
9149,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0

In [56]:
#Excluindo os valores nulos (NaN)
aluguel_total=aluguel_residencial2.shape[0]
aluguel_residencial2.dropna(subset=["Valor"], inplace=True)
aluguel_tratado_nao_nulos=aluguel_residencial2.shape[0]
print(f"O conjunto de dados possuia {aluguel_total} e após a remoção dos NaN ficou com {aluguel_tratado_nao_nulos}")

O conjunto de dados possuia 22580 e após a remoção dos NaN ficou com 22571

In [57]:
#Conferindo a remoção dos NaN
aluguel_residencial2[aluguel_residencial2["Valor"].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [59]:
#Pesquisa os imóveis que estão sem valor de condominio
aluguel_residencial2[aluguel_residencial2["Condominio"].isnull()].shape[0]

1813

In [62]:
#Filtra os dados de condomínio NaN somente para Apartamento
selecionar=(aluguel_residencial2["Tipo"]=="Apartamento") & (aluguel_residencial2["Condominio"].isnull())
selecionar

0        False
1        False
2        False
3        False
4         True
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22571, dtype: bool

In [63]:
#Preencher com 0 as colunas que tem NaN no Condomínio
aluguel_residencial2=aluguel_residencial2.fillna({"Condominio":0})

In [65]:
aluguel_residencial2[aluguel_residencial2["Condominio"].isnull()].shape[0]

0

**Desafio: verificar os NaN na coluna IPTU e ajustar. Também colocar como 0.**

In [66]:
#Preencher com 0 as colunas que tem NaN no IPTU
aluguel_residencial2=aluguel_residencial2.fillna({"IPTU":0})
aluguel_residencial2[aluguel_residencial2["IPTU"].isnull()].shape[0]

0